.programs {
  width: 80% auto;
  display: flex;
  margin: 80px;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}
.programs img {
  width: 100%;
  display: block;
  border-radius: 20px;
  box-shadow: 4px 6px 0px rgba(0, 0, 0, 0.2);
}
.program {
  flex-basis: 31%;
  position: relative;
}
.caption {
  border-radius: 5px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  flex-direction: column;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.5s ease; /* Smooth opacity transition */
}
.caption img {
  width: 60px;
  margin-bottom: 10px;
}
.caption:hover {
  transform: scale(1);
  opacity: 1;
}
