.Head {
  font-size: 20px;
  padding: 12px;
  color: #393e63;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  background-color: rgb(117, 207, 26);
}
